.head{
    background-image: linear-gradient(to right,#f4e4a4,#00000000);
    font-family: Font,backupFont;
    padding-top: 0.5vh;
    padding-left: 0.25vw;
    /* padding-bottom: 0.5vh; */
    margin-bottom: 0;
    padding-right: 0.25vw;
    padding-bottom: 1vh;
    width: 100%;
    height: 10%;
    max-height: 10%;
    display: flex;
    text-align: normal;
}
#buttons{  
    margin-left: auto;
    margin-right: 2vh;
    transition: 1s;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: row;
    gap: 0.25vw;
    justify-content: center;
    padding: 0
}
#buttonsts{
    margin: 0;
    padding: 0;
    margin-left: 15%;
    margin-right: 0.5%;
    width: fit-content;
    transition: 1s ease-in-out;
}
.headText{
    padding-left: 1vw;
    margin-top: auto;
    font-size: 2vh;
    white-space: nowrap;
    line-height: normal;
    margin-bottom: auto;
    margin-right: auto;
    transition: 0.5s ease-in-out;
}
#placeholder{
    visibility: hidden !important;
    width: 2vh;
    height: 2vh;
}
@media (max-width:768px){
    #buttonsts{
        /* margin-right: %; */
        margin-left: 7ww.5%;
    }
    .headText{
        margin-right: 2vw;
    }
}

#loading{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    transition: 2s ease-out;
}

.head div{
    padding-left: 1vw;
    padding-top: 0.5vh;
    font-size: 2vh;
    margin-bottom: 0;
    /* margin-left: 47.5%;
    margin-right: auto; */
    /* position: absolute; */
}
#code2{
    margin-right: 2vw;
}
.bts{
    height: 4vh;
    margin-top: 0;
    font-family: Font;
    border-color: #f4e4a4;
    border-style: solid;
    border-width: 2px;
    background-color: #e7f4c8;
    /* padding-bottom: 2vh;
    padding-top: 2vh; */
    min-width: fit-content;
    width: 5vw;
    border-radius: 2vh;
    transition: all 0.1s ease-in-out;
    margin-left: 0.125vw;
    text-align: center;
    margin-right: 0.125vw;
    white-space: nowrap;
    font-size: 1.5vh;
}
#showb{
    width: 4vh;
    height: 4vh;
    font-family: Font;
    border-color: #f4e4a4;
    border-style: solid;
    border-width: 2px;
    background-color: #e7f4c8;
    /* min-height: 100%; */
    min-width: fit-content;
    transition: 0.2s;
    top:0;
    right:0;
    border-radius: 1vh;
    margin-top: 0.5vh;
    margin-bottom: auto;
    margin-right: 0.5vw;
    margin-left: 0.1vw;
    position: absolute;
}
#code:hover,#code1:hover,#code2:hover{
    background-color: #d9f0a5 !important;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    margin-left: 0.25vw !important;
    margin-right: 0.25vw !important;
}
#showb:hover{
    background-color: #d9f0a5 !important;
    scale: 1.1; 
}
.mainContent{
    font-family: Font;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgb(151, 151, 151);
    margin-top: 0;
    min-height: 95.5vh;
    height: fit-content;
    width:auto;
}
.mainContent div{
    font-family: Font;
    padding-left: 1vw;
    padding-right: 1vh;
    padding-top: 1vh;
    padding-bottom:1vh
}
.mainContent div p{
    font-family: Font;
    margin-top: 1vw;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden scroll;
    background-image: url(1371663.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: "Font";
    src: url(HOOTRG.TTF);
}
@font-face {
    font-family: "backupFont";
    src: url(backupFont.TTC);
}