body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
#bts-grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 1rem;
  width: 100%; height: 95%;
  align-self: center;
  align-items: normal;
  transition: 0.4s;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vh;
}
#description{grid-row: 1/3; grid-column: 1/3;}
#images{grid-row: 4/7; grid-column: 1/4;
overflow: hidden;
/* z-index: 0; */
}
#favorite{
  grid-row: 1/4; grid-column: 3;
  flex-direction: column;
  overflow: hidden;
  background: white;
}
#info{grid-row:3/4; grid-column: 1/3;}
@media (max-width:1000px){
  #description{grid-row: 1/2; grid-column: 1/3;}
  #images{grid-row: 3/6; grid-column: 1/4;}
  #info{grid-row: 2/3; grid-column: 1/3;}
  #favorite{grid-row: 1/3; grid-column: 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  overflow: hidden;
}
}


#bts-grid::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
#btnLeft{margin-right: auto;}
#btnRight{margin-left: auto;}
.bts{
  background-color: #cea3f0;
  position: relative;
  transition: 0.5s ease;
  will-change: transform;
  transition: 0.5s, border-radius 0s;
  border-radius: 0.44rem;
  border-width: 1vh;
  display: block;
  width: 95%;
  margin-top: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.mainContent #bts-grid div{
  justify-content: center;
  display: flex;
  border: black;
  border-style: solid;
  border-width: 0.15rem;
}
.mainContent #bts-grid .text{
  padding: 2vw;
}
#favorite img{
  grid-row: 1/2;
  width: 80%;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  aspect-ratio: 1/1 !important;
}
#favName{
  grid-row: 2/3;
  margin: 0;
  width: 100%;
  height: 100%;
  background: aliceblue;        /* fills the entire box */

  display: flex;                /* centers text */
  align-items: center;          /* vertical center */
  justify-content: center;      /* horizontal center */

  text-align: center;
  box-sizing: border-box;
  font-size: 1vw;
  font-weight: 900;
}

.head{
  background: #cea3f0;
  background: linear-gradient(90deg,rgba(206, 163, 240, 1) 0%, rgba(222, 200, 221, 1) 50%, rgba(255, 247, 247, 1) 100%);
  padding-top: 0.5vh;
  padding-left: 0.25vw;
  margin-bottom: 0;
  padding-right: 0.25vw;
  padding-bottom: 1vh;
  border-width: 50px;
  border: 0px;
  border-bottom: 2px;
  border-style: solid;
  width: 100%;
  height: 10%;
  max-height: 10%;
  display: flex;
  text-align: normal;
}
#imageSelection{
  image-rendering: optimizeSpeed;
  align-self: center;
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
#imageDiv{
  flex-direction: column;
}
#bullets p{
  margin: 0;
  height: 5%;
  align-items: center center;
}
#selectedImage{
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  z-index: 2;
}
#selectedImage img{
  top: 50;
  left: 50;
  height: auto;
  width: 80%;
  transform: translate(10%,20%);
  position: absolute;
}
#blur2{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  position: absolute;
  z-index: 2;
  align-items: center center;
}
#focusedImage{
  width: 70%;
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
  transform: translate(20%,30%);
}
#blur{
  background-position: center center !important;
  background-size: cover;
  background-repeat:  no-repeat;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  position: absolute ;
  z-index: -1;
}
#antiblur{
  filter: none;
  height: 90%;
  width: auto;
  place-self: center center;
}
#images{
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  filter: blur(0);
}
.headText{
  padding-left: 1vw;
  margin-top: auto;
  font-size: 2vh; 
  white-space: nowrap;
  line-height: normal;
  margin-bottom: auto;
  margin-right: auto;
  content: attr(data-default);
  cursor: default;
}
.headText:hover{
    text-decoration: underline;
    color: aliceblue;
    cursor: pointer;
}
.btnHead{
    font-size: 3vh;
}
.bts::before,
.bts::after{
    transition: opacity 0.5s ease-in-out;
}

button:hover::after {
  opacity: 1;
}
.bts{
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}

.mainContent{
  margin-left: 10vw;
  margin-right: 10vw;
  background: #cea3f0;
  background: linear-gradient(8deg, rgba(206, 163, 240, 1) 0%, rgba(222, 200, 221, 1) 50%, rgba(255, 247, 247, 1) 100%);
  /* margin-top: 2vh; */
  margin-bottom: 2vh;
  min-height: 96vh;
  overflow: hidden;
  height: 96vh;
  width:auto;
  display: flex;
}
*{
 font-family: Romaji,Kosugi Maru,Japanese !important;
}
@font-face {
  font-family: "Romaji";
  src: url(../../fonts/QUICKSAND-MEDIUM.TTF);
}
@font-face {
  font-family: "Japanese";
  src: url(../../fonts/BIZ-UDGOTHICB.TTC);
}
@font-face {
  font-family: "Kosugi Maru";
  src:url(../../fonts/KOSUGIMARU-REGULAR.TTF)
}
