
.no-select, .mainText, .subText{
  user-select: none;        /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;   /* Firefox */
  -ms-user-select: none;    /* IE10+ */
}

.clickable{
    cursor: pointer;
}
.clickable:hover{
    background-color: #DEC8DD !important;
    letter-spacing: 0.03em;
}
#loading{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    transition: 2s ease-out opacity 1s;
}
.head div{
    padding-left: 1vw;
    padding-top: 0.5vh;
    font-size: 2vh;
    margin-bottom: 0;
}
#selection-grid{
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    scroll-snap-type: x mandatory;
    padding: 0 10vw; 
    gap: 0.5rem;
}
#selection-grid::-webkit-scrollbar{
    width:0;
    height: 0;
}
.bts{
    background-color: #cea3f0;
    position: relative;
    border-radius: 0.44rem;
    border-width: 1vh;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 300px;
    height: auto;
    margin-top: 25%;
    margin-bottom: 25%;
}
.mainContent{
    margin-left: 5vw;
    margin-right: 5vw;
    background: #cea3f0;
    background: linear-gradient(8deg, rgba(206, 163, 240, 1) 0%, rgba(222, 200, 221, 1) 50%, rgba(255, 247, 247, 1) 100%);
    margin-top: 0;
    min-height: 96vh;
    height: fit-content;
    width:auto;
    display: flex;
}
.mainContent #selection-grid .bts{
    justify-content: center;
    align-items: end;
    display: flex;
    border: black;
    border-style: solid;
    border-width: 0.15rem;
}
.mainContent #selection-grid .bts .bts-contain{
    display: grid;
    grid-auto-flow: row;
    gap: 0rem;
    margin-bottom: 1rem;
    padding: 0;
  }
.mainContent #selection-grid div p{
    line-break: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}
.mainText{
    font-size: clamp(1.5rem, 2vh, 2vh);
    transition: 0.3s;
}
.subText{
    font-size: clamp(1rem, 0.5vh, 1vh);
    transition: 0.3s;
    opacity: 0.8;
}
@media (max-width:768px){
  #bts-grid{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    width: auto; height: auto;
  }
  .mainContent #bts-grid div p{
    line-break: strict;
    font-size: 2vh;
  }
  #btn1{transform-origin: center left;    grid-row: 2/5;  grid-column: 1/3; justify-self: start;}
  #btn2{transform-origin: bottom center;  grid-row: 5;    grid-column: 1/6; justify-self: center;}
  #btn3{transform-origin: top center;     grid-row: 1;    grid-column: 1/6; justify-self: center;}
  #btn4{transform-origin: center right;   grid-row: 2;    grid-column: 3/6; justify-self: end;}
  #btn5{transform-origin: center right;   grid-row: 3;    grid-column: 3/6; justify-self: end;}
  #btn6{transform-origin: center right;   grid-row: 4/5;  grid-column: 3/6; justify-self: end;}

}
.bts::before,
.bts::after{
    transition: 0.5s ease-in-out !important
}

body{
    overflow: hidden scroll;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden !important;
}