.head{
    background: #cea3f0;
    background: linear-gradient(90deg,rgba(206, 163, 240, 1) 0%, rgba(222, 200, 221, 1) 50%, rgba(255, 247, 247, 1) 100%);
    padding-top: 0.5vh;
    padding-left: 0.25vw;
    margin-bottom: 0;
    padding-right: 0.25vw;
    padding-bottom: 1vh;
    border-width: 50px;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    width: 100%;
    height: 10%;
    max-height: 10%;
    display: flex;
    text-align: normal;
}
.headText{
    padding-left: 1vw;
    margin-top: auto;
    font-size: 2vh; 
    white-space: nowrap;
    line-height: normal;
    margin-bottom: auto;
    margin-right: auto;
    content: attr(data-default);
    cursor: default;
}
#headcont{
    width: 30%;
}

.headText:hover{
    text-decoration: underline;
    color: aliceblue;
    cursor: pointer;
}
*{
 font-family: Romaji,Kosugi Maru,Japanese !important;
}
@font-face {
    font-family: "Romaji";
    src: url(../../fonts/QUICKSAND-MEDIUM.TTF);
}
@font-face {
    font-family: "Japanese";
    src: url(../../fonts/BIZ-UDGOTHICB.TTC);
}
@font-face {
  font-family: "Kosugi Maru";
  src:url(../../fonts/KOSUGIMARU-REGULAR.TTF)
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../images/1371663.png);
}