
#bts-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,0.5fr);
  margin-top: 2rem;
  row-gap: 1rem;
  width: 100%; 
  aspect-ratio: 1;
  place-items: center center;
  box-sizing: border-box;
  align-items: stretch;
  transition: 0.4s;
}
@media (max-width:1200px){
    #bts-grid{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 100%; height: auto;
    }
}
@media (max-width:840px){
    #bts-grid{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 100%; height: auto;
    }
}
@media (max-width:630px){
    #bts-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 100%; height: auto;
    }
}
@media (max-width:415px){
    #bts-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        width: 100%; height: auto;
    }
}
.bts{
  background-color: #cea3f0;
  position: relative;
  transition: 0.5s ease;
  will-change: transform;
  transition: 0.5s, border-radius 0s;
  border-radius: 0.44rem;
  border-width: 1vh;
  display: block;
  width: auto;
  padding: 20%;
  place-self: center center;
  aspect-ratio: 1/1;
  cursor: pointer;
  box-sizing: border-box;
}
.mainContent #bts-grid div{
  justify-content: center;
  align-items: end;
  display: flex;
  /* overflow: hidden; */
  border: black;
  border-style: solid;
  border-width: 0.15rem;
}
.bts:hover{
    background-color: #DEC8DD !important;
    transform: scale(1.05);
    letter-spacing: 0.03em;
    transition: 0.5s;
    /* margin: 2% !important; */
}
.bts::before,
.bts::after{
    transition: opacity 0.5s ease-in-out;
}
#btn1{background-image: url(../images/sq.png);}
#btn2{background-image: url(../images/sk.png);}

#btn1:hover{background-image: url(../images/sq2.png);p{color: black;}}
#btn2:hover{background-image: url(../images/sk2.jpg); color:black}


button:hover::after {
  opacity: 1;
}
.bts{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mainContent{
    margin-left: 5vw;
    margin-right: 5vw;
    background: #cea3f0;
    background: linear-gradient(8deg, rgba(206, 163, 240, 1) 0%, rgba(222, 200, 221, 1) 50%, rgba(255, 247, 247, 1) 100%);
    margin-bottom: 2vh;
    min-height: 92vh;
    height: fit-content;
    width:auto;
    display: flex;
}