body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#bts-grid{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(3,1fr);
    margin-top: 2rem;
    row-gap: 1rem;
    width: 100%; height: auto;
    justify-items: center;
    box-sizing: border-box;
    align-items: stretch;
    transition: 0.4s;
}
@media (max-width:1350px){
    #bts-grid{
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,1fr);
        width: 100%; height: auto;
    }
}
@media (max-width:920px){
    #bts-grid{
        grid-template-columns: repeat(3,33.3%);
        grid-template-rows: repeat(4,1fr);
        width: 100%; height: auto;
    }
}
@media (max-width:685px){
    #bts-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 100%; height: auto;
    }
}
@media (max-width:415px){
    #bts-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,1fr);
        width: 100%; height: auto;
    }
}
.bts{
    background-color: #cea3f0;
    position: relative;
    transition: 0.5s ease;
    will-change: transform;
    transition: 0.5s, border-radius 0s;
    border-radius: 0.44rem;
    border-width: 1vh;
    display: block;
    min-width: 220px;
    width: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
    box-sizing: border-box;
}
.mainContent #bts-grid div{
    justify-content: center;
    align-items: end;
    display: flex;
    border: black;
    border-style: solid;
    border-width: 0.15rem;
}
.bts:hover{
    background-color: #DEC8DD !important;
    transform: scale(1.05);
    letter-spacing: 0.03em;
    transition: 0.5s;
}
.bts::before,
.bts::after{
    transition: opacity 0.5s ease-in-out;
}
#btn1{background-image: url(../images/Profiles/discord-d.jpg);}
#btn2{background-image: url(../images/Profiles/steam-d.jpg);}
#btn3{background-image: url(../images/Profiles/spotify-d.png);}
#btn4{background-image: url(../images/Profiles/youtube-d.png);}
#btn5{background-image: url(../images/Profiles/mal-d.png);}

#btn1:hover{background-image: url(../images/Profiles/discord.png);  p{color: rgb(90,101,213)    ;text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px  1px 0 black,1px  1px 0 black  };border-color: rgb(90,101,213) !important;}
#btn2:hover{background-image: url(../images/Profiles/steam.jpg);    p{color:rgb(58,123,171)     ;text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px  1px 0 black,1px  1px 0 black  };border-color: rgb(58,123,171)   !important;}
#btn3:hover{background-image: url(../images/Profiles/spotify.png);  p{color: rgb(102,212,110)   ;text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px  1px 0 black,1px  1px 0 black  };border-color: rgb(102,212,110)!important;}
#btn4:hover{background-image: url(../images/Profiles/youtube.png);  p{color:rgb(186, 50, 45)    ;text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px  1px 0 black,1px  1px 0 black  };border-color: rgb(186,50,45)  !important;}
#btn5:hover{background-image: url(../images/Profiles/mal.png);      p{color: rgb(54, 80, 157)   ;text-shadow: -1px -1px 0 black,1px -1px 0 black,-1px  1px 0 black,1px  1px 0 black  };border-color: rgb(54,80,157)  !important;}

button:hover::after {
    opacity: 1;
}
.bts{
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContent{
    margin-left: 5vw;
    margin-right: 5vw;
    background: #cea3f0;
    background: linear-gradient(8deg, rgba(206, 163, 240, 1) 0%, rgba(222, 200, 221, 1) 50%, rgba(255, 247, 247, 1) 100%);
    /* margin-top: 2vh; */
    margin-bottom: 2vh;
    min-height: 96vh;
    height: fit-content;
    width:auto;
    display: flex;
}
*{
 font-family: Romaji,Kosugi Maru,Japanese !important;
}
@font-face {
    font-family: "Romaji";
    src: url(../fonts/QUICKSAND-MEDIUM.TTF);
}
@font-face {
    font-family: "Japanese";
    src: url(../fonts/BIZ-UDGOTHICB.TTC);
}
@font-face {
    font-family: "Kosugi Maru";
    src:url(../fonts/KOSUGIMARU-REGULAR.TTF)
}